.form-content, .mat-form-field{
    flex: 1;
    padding: 20px;
}
.form-content .mat-radio-button {
    margin: 0 12px;
  }

  .form-content form {
    margin-bottom: 20px;
  }
//   .form-content form > * {
//     margin: 5px 0;
//   }